<div class="app__doctor__sidebar">
  <header class="sidebar__header">DOC.PANEL</header>
  <ul class="sidebar__buttons__list">
    <li class="list__item">
      <a class="link__button" mat-raised-button routerLink="./patients" routerLinkActive="active" color="warn"
        >Patients</a
      >
    </li>
    <li class="list__item">
      <a class="link__button" mat-raised-button routerLink="../dashboard" routerLinkActive="active" color="warn"
        >Statistics</a
      >
    </li>
    <li class="list__item">
      <a class="link__button" mat-raised-button routerLink="../dashboard" routerLinkActive="active" color="warn"
        >Exit</a
      >
    </li>
  </ul>
</div>
